<div class="dashboard-container">
	<div class="dashboard-hero-wrapper">
		<div class="dashboard-hero">
			<h1 class="dashboard-title">Welcome back <%= @profile.first_name %></h1>
			<h2 class="dashboard-meal-title">PLAN THOSE TASTY<span class="R">R</span> MEALS FOR THE WEEK</h2>
		</div>
	</div>
	<div id="meal-3" class="dashboard-meal-container">
		<div class="row search-container">
			<div class="col-lg-4 col-md-4 col-sm-12 protein-container">
				<h4>Pick your meal</h4>
				<div class="form-container">
					<div id="dash-drop-1">
					<%= form_tag '/dashboard', method: :get do %>
						<%= select_tag(:q, options_for_select([['', ""],['Chicken', "Chicken"], ['Beef', "Beef"], ['Pork', "Pork"], ['Fish', 'Fish'], ['Lamb', 'Lamb'], ['Pasta', 'Pasta'], ['Vegetable', 'Vegetable'], ['Paleo', 'Paleo'], ['Vegan', 'Vegan']], :selected => params[:q])) %>
						<%= hidden_field_tag :form_id, 1%>
						<span class="dash-spacer"> OR </span>
						<a id="dash-search-icon-1" class="dash-search-icon">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</a>
						<div class="go-button">
							<%= submit_tag "Go", name: nil %>
						</div>
					<% end %>
					</div>
					<div  id="dash-search-1" class="dash-search-bar hide">
						<%= form_tag '/dashboard', method: :get  do %>
							<%= search_field_tag :q, params[:q] %>
							<%= hidden_field_tag :form_id, 1%>
							<%= submit_tag "Go", name: nil %>
						<% end %>
					</div>
				</div>
				<% if session[1]%>
				<div class="meal-search-grid">
					<div style="background:url(<%= session[1][1] %>) no-repeat center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding:0px" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 meal-grid">
						<div class="meal-cover">
							<h3><%= session[1][0] %></h3>
						</div>
					</div>
					<a class="source-button" href="<%= session[1][2] %>" target="_blank">
						VIEW RECIPE
					</a>
					<div class="ingredient-grid">
						<h4>INGREDIENTS</h4>
						<ul>
							<% session[1][3].each do |e| %>
								<li> <%= e %> </li>
							<% end %>
						</ul>
					</div>
				</div>
				<% end %>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 protein-container">
				<h4>Pick your meal</h4>
				<div class="form-container">
					<div id="dash-drop-2">
					<%= form_tag '/dashboard', method: :get do %>
						<%= select_tag(:q, options_for_select([['', ""],['Chicken', "Chicken"], ['Beef', "Beef"], ['Pork', "Pork"], ['Fish', 'Fish'], ['Lamb', 'Lamb'], ['Pasta', 'Pasta'], ['Vegetable', 'Vegetable'], ['Paleo', 'Paleo'], ['Vegan', 'Vegan']], :selected => params[:q])) %>
						<%= hidden_field_tag :form_id, 2%>
						<span class="dash-spacer"> OR </span>
						<a id="dash-search-icon-2" class="dash-search-icon">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</a>
						<div class="go-button">
							<%= submit_tag "Go", name: nil %>
						</div>
					<% end %>
					</div>
					<div  id="dash-search-2" class="dash-search-bar hide">
						<%= form_tag '/dashboard', method: :get  do %>
							<%= search_field_tag :q, params[:q] %>
							<%= hidden_field_tag :form_id, 2%>
							<%= submit_tag "Go", name: nil %>
						<% end %>
					</div>
				</div>
				<% if session[2]%>
				<div class="meal-search-grid">
					<div style="background:url(<%= session[2][1] %>) no-repeat center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding:0px" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 meal-grid">
						<div class="meal-cover">
							<h3><%= session[2][0] %></h3>
						</div>
					</div>
					<a class="source-button" href="<%= session[2][2] %>" target="_blank">
						VIEW RECIPE
					</a>
					<div class="ingredient-grid">
						<h4>INGREDIENTS</h4>
						<ul>
							<% session[2][3].each do |e| %>
								<li> <%= e %> </li>
							<% end %>
						</ul>
					</div>
				</div>
				<% end %>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 protein-container">
				<h4>Pick your meal</h4>
				<div class="form-container">
					<div id="dash-drop-3">
					<%= form_tag '/dashboard', method: :get do %>
						<%= select_tag(:q, options_for_select([['', ""],['Chicken', "Chicken"], ['Beef', "Beef"], ['Pork', "Pork"], ['Fish', 'Fish'], ['Lamb', 'Lamb'], ['Pasta', 'Pasta'], ['Vegetable', 'Vegetable'], ['Paleo', 'Paleo'], ['Vegan', 'Vegan']], :selected => params[:q])) %>
						<%= hidden_field_tag :form_id, 3%>
						<span class="dash-spacer"> OR </span>
						<a id="dash-search-icon-3" class="dash-search-icon">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</a>
						<div class="go-button">
							<%= submit_tag "Go", name: nil %>
						</div>
					<% end %>
					</div>
					<div  id="dash-search-3" class="dash-search-bar hide">
						<%= form_tag '/dashboard', method: :get  do %>
							<%= search_field_tag :q, params[:q] %>
							<%= hidden_field_tag :form_id, 3%>
							<%= submit_tag "Go", name: nil %>
						<% end %>
					</div>
				</div>
				<% if session[3]%>
				<div class="meal-search-grid">
					<div style="background:url(<%= session[3][1] %>) no-repeat center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding:0px" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 meal-grid">
						<div class="meal-cover">
							<h3><%= session[3][0] %></h3>
						</div>
					</div>
					<a class="source-button" href="<%= session[3][2] %>" target="_blank">
						VIEW RECIPE
					</a>
					<div class="ingredient-grid">
						<h4>INGREDIENTS</h4>
						<ul>
							<% session[3][3].each do |e| %>
								<li> <%= e %> </li>
							<% end %>
						</ul>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>