<div class="profile-container">
	<div class="profile-wrapper">
		<h1 class="profile-title">Edit Allergies</h1>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 profile-column">
				<fieldset>
					<h1 class="profile-form-title">Allergy Information</h1>
					<%= form_for @allergy do |f| %>
						<ul>
						<% @allergychoices.each do |allergy| %>
							<li>
								<%= label_tag allergy.name, nil do %>
									<%= allergy.name %>
									<%= check_box_tag(
										allergy.name,
										allergy.id,
									    lambda { f.object.allergychoice_id == allergy.id}.call
									) %>
								<% end %>
							</li>
						<% end %>
						</ul>
				</fieldset>
				<div class="create-profile">
					<%= f.submit :value => "Update" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>