<!DOCTYPE html>
<html>
<head>

	<title>Tastyr</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="A Tastyr way to cook your favorite dishes!">
	<meta name="keywords" content="Recipe, Recipes, tasty, tastier, food planner, recipe finder, recipe planner, ingredients, ingredient finder">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link href="/assets/images/favicon.ico" rel="shortcut icon"
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js" type="text/javascript">
	</script>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<body>
	<header>
		<nav>
			<div class="row navigation-bar">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 logo">
					<a href="/">TASTY<span class="R">R</span></a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
					<div class="nav-links">
				    	<div class="nav-link">
							<%= link_to "About", "/about/" %>
						</div>
						<% if user_signed_in? %>
							<div class="nav-link">
								<%= link_to "Profile", profile_path(current_user) %>
							</div>
							<div class="nav-link">
								<%= link_to "Planner", "/dashboard" %>
							</div>
							<div class="nav-link">
								<a class="search" href="<%= search_url %>">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</a>
							</div>
					      	<div class="nav-link">
					      		<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
					      	</div>
					    <% else %>
				    		<div id="register" class="nav-link">
				    			<a>Register</a>
							</div>
							<div class="nav-link">
								<a class="search" href="<%= search_url %>">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</a>
							</div>
							<a class="sign-in" href="<%= new_user_session_url %>">Sign In</a>
					    <% end %>
					</div>
					<a id="nav-hamburger"><span class="glyphicons glyphicons-menu-hamburger"></span></span></a>
				</div>
			</div>
		</nav>
	</header>
	<div id="nav-collapse" class="responsive-menu collapse">
		<div class="responsive-nav-links">
			<a class="responsive-nav-link" href="/about">
		    	About
			</a>
			<% if user_signed_in? %>
				<a class="responsive-nav-link" href="<%= profile_path(current_user) %>">
					Profile
				</a>
				<a class="responsive-nav-link" href="/dashboard">
					Planner
				</a>
				<a class="search responsive-nav-link" href="<%= search_url %>">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</a>
	      		<%= link_to "Sign Out", destroy_user_session_path, 	method: :delete, :class => "responsive-nav-link" %>
		    <% else %>
	    		<a id="register-responsive" class="responsive-nav-link">
	    			Register
				</a>
				<a class="search responsive-nav-link" href="<%= search_url %>">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</a>
				<a class="responsive-sign-in" href="<%= new_user_session_url %>">
					Sign In
				</a>
		    <% end %>
		</div>
	</div>
	<div id="modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-body">
						<%= render "devise/registrations/new", locals: { resource: :user, :resource_name => @resource }  %>
					</div>
				</div>
			</div>
		</div>
	</div>

<%= yield %>

	<footer>
		<div class="footer-container">
				<h6 class="footer-title">Off-Piste Designs &copy; 2015. All rights reserved.</h6>
		</div>
	</footer>
</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</html>


